* {
    box-sizing: border-box;
}
.rows::after {
    content: "";
    clear: both;
    display: block;
    pa
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.horizontalline {
    background-color: #9933cc;
    color: #ffffff;
    padding:0, 15px,15px,0;
    height: 10px;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footerr {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    clear: both;
}

/* For desktop: */
.col-1 {width: 20.33%; padding-left: 20px; padding-right: 20px;}
.col-2 {width: 33.33%;}
.col-3 {width: 25%;
         float: right; 
         padding-right: 20px;          }
.col-4 {width: 50%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 75%;
        padding-left: 20px;
                    }
.col-19 {width:100%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-13{padding-left:5%;
text-align: center;}
.col-14{padding-left: 15%;}
.col-15{padding-top: 35px;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
